<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div id="blurb" class="col-md-6 panel">
      I'm Noah; bibliophile, audo-didact, lifelong learner. I'm a burgeoning web developer and tech enthusiast with a special interest in behavioral economics, social psychology, scientific epistemology, and moral philosophy/ethics. When I'm neither coding nor reading, I'm liable to be playing with barbells.
    </div>

    <div class="col-md-3">
    </div>
  </div>

  <%= render 'footer' %>

</div>
