<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>

    <div id="blurb" class="col-md-6 panel">
      I'm Noah, fullstack web developer and audo-didact. I enjoy tackling novel problems, working collaboratively with others, and place a high premium on learning. When I'm neither coding nor reading, I’m learning about behavioral economics, social psychology, scientific epistemology, and moral philosophy/ethic, or just playing with barbells.
    </div>

    <div class="col-md-3">
    </div>
  </div>

  <%= render 'footer' %>

</div>
