<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <p>
        Noah is a fullstack web developer/software engineer based in Boston. He singlehandedly ran a small business offering private strength and conditioning services for 5 years. Recently, he's enjoying playing around with ES6, React.JS, and Ruby on Rails to build a fun little diving app. He hails from southern New York and was inspired by the flat, meritocratic, and analytic nature of coding to enter that career path. He loves meeting new people, technologies, and ideas, and working on puzzles.
      </p>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<%= render 'footer' %>
