<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p>
      I'm in the process of shifting careers from full-time S&C coach and small business owner to web developer/software engineer. In 2015 I sold my business, which I operated fulltime since shortly after graduating college, moved to a new state, and enrolled in a coding bootcamp to jump start my transition. Now I'm studying in my free time to improve upon and expand my skill set. This website will serve to document some segment of that ongoing process.
    </p>
  </div>
  <div class="col-md-3"></div>
</div>

<%= render 'footer' %>
