<div class="contact text-center">
  <p>
    I can be reached via email at <mark><a href="mailto:noahamilstein@gmail.com"><span class="email">noahamilstein</span> at <span class="email">gmail</span> <span class="email">dot</span> <span class="email">com</span></a></mark>.
  </p>
</div>

<%= render 'footer' %>
