<p>
  I can be reached via email at <span class="email">noahamilstein</span> at <span class="email">gmail</span> <span class="email">dot</span> <span class="email">com</span>.
  Or click <a href="mailto:noahamilstein@gmail.com">here</a>.
</p>
