<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div id="blurb" class="col-md-6 panel">
      I'm Noah, fullstack web developer and autodidact. I enjoy tackling novel problems, working collaboratively with others, and place a high premium on learning. I'm especially interested in finding ways to use code and emerging technologies to improve decision making, education/schooling, and government. When I'm neither coding nor reading, I'm learning about behavioral economics, social psychology, scientific epistemology, and moral philosophy/ethic, or just playing with barbells. Ad astra per aspera.
    </div>

    <div class="col-md-3"></div>
  </div>
</div>
<%= render 'footer' %>
