<div id="cv" class="instaFade">

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<!-- <article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>Noah hails from x. He has earned degrees from the X. Before doing X, he worked for x as x. While his work focuses on x, mostly x, his non-work interests range widely, everything from x to x. He could tell you about it, but THAT would NOT be a “length-limited” conversation!</p>
				</div>
			</article>
			<div class="clear"></div>
		</section> -->

    <section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Breakable Toy</h2>
					<p class="subDetails"><a href="https://coachr-breakable-toy.herokuapp.com/">https://coachr-breakable-toy.herokuapp.com/</a></p>
					<p class="subDetails"><a href="https://github.com/noahmilstein/breakable_toy">https://github.com/noahmilstein/breakable_toy</a></p>
					<p>An app to help clients and Starting Strength coaches connect and allow trainees to receive technical criticism absent the peanut gallery. Built with a Ruby on Rails, Postgres database, React.js, AJAX, Bootstrap, and tie in to the Google Maps API; tested with RSpec and Capybara.</p>
				</article>

				<article>
					<h2>Cinephile</h2>
					<p class="subDetails"><a href="http://cinephile-launch.herokuapp.com/">http://cinephile-launch.herokuapp.com/</a></p>
					<p class="subDetails"><a href="https://github.com/noahmilstein/cinephile">https://github.com/noahmilstein/cinephile</a></p>
					<p>A web application movie review site, created as a collaborative group project. Built with Ruby on Rails, a Postgres database, React.js, AJAX, and Foundation; tested with RSpec and Capybara.</p>
				</article>

				<article>
					<h2>nmilsht-blog</h2>
					<p class="subDetails"><a href="https://nmilsht.herokuapp.com/">https://nmilsht.herokuapp.com/</a></p>
					<p class="subDetails"><a href="https://github.com/noahmilstein/nmilsht">https://github.com/noahmilstein/nmilsht</a></p>
					<p>A personal site designed to act as both a digital resume and blog to document my learning process. Built with Ruby on Rails, Javascript, JQuery. This is a work in progress.</p>
				</article>

				<article>
					<h2>Dive Sites RoR</h2>
					<p class="subDetails"><a href="https://github.com/noahmilstein/dive-sites-ror">https://github.com/noahmilstein/dive-sites-ror</a></p>
					<p>[In progress] schedule dives at any known dive spot globally and receive marine weather updates at set intervals via text and or email. Currently building with Ruby on Rails, Postgres DB, to be refactored with Javascript, jQuery, React.js.</p>
				</article>

				<article>
					<h2>Less Wrong</h2>
					<p class="subDetails"><a href="https://github.com/noahmilstein/lesswrong">https://github.com/noahmilstein/lesswrong</a></p>
					<p>A Ruby gem to rapidly navigate Eliezer Yudkowsky’s Sequences from the command line. Built with Ruby and the Nokogiri gem.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Apprentice Ruby on Rails Developer at Launch Academy</h2>
					<p class="subDetails">August 2016 - October 2016</p>
					<p>Full-stack web development bootcamp to gain critical, applicable skills as junior software developer. Focused on object-oriented programming, test-driven development and pair programming</p>
				</article>

				<article>
					<h2>Strength & Conditioning Coach at CrossFit RBP</h2>
					<p class="subDetails">February 2016 - June 2016</p>
					<p>First to implement the Starting Strength model anywhere in New England.</p>
				</article>

				<article>
					<h2>Owner/Head Coach at Feral Fitness</h2>
					<p class="subDetails">July 2011 - November 2015</p>
					<p>Built company from the ground up. Generated over $180k each year and shared all business responsibilities with a partner. Acquired SSC [http://www.startingstrength.com/get-started/coach], applied first principle analysis to movement/training. Developed ability to coach ~15 person groups with diverse needs and abilities.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
          <li>Ruby on Rails</li>
          <li>HTML/CSS</li>
          <li>JavaScript</li>
          <li>ES6</li>
          <li>JQuery</li>
          <li>React.js</li>
          <li>Node.js</li>
          <li>SQL</li>
          <li>Postgresql</li>
          <li>RSpec</li>
          <li>Capybara</li>
          <li>HAML</li>
          <li>Git</li>
          <li>OOP</li>
          <li>HTTP</li>
          <li>AJAX</li>
          <li>Sinatra</li>
          <li>Factory Girl</li>
          <li>Devise</li>
          <li>Paperclip</li>
          <li>Carrierwave</li>
          <li>Geocoder</li>
          <li>Database Cleaner</li>
          <li>Bootstrap</li>
          <li>Foundation</li>
          <li>HTTParty</li>
          <li>Nokogiri</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Lynda.com</h2>
					<p class="subDetails">
						<ul class="lynda">
							<li>Learn React.js: The Basics</li>
							<li>Learn Webpack: The Basics</li>
							<li>Node.js Essential Training</li>
							<li>Building a Website with Node.js and Express.js</li>
							<li>Up and Running with Node.js</li>
						</ul>
					</p>
				</article>

				<article>
					<h2>The International School, The University of Haifa</h2>
					<p class="subDetails">June 2009 - April 2010</p>
				</article>

				<article>
					<h2>The Evergreen State College</h2>
					<p class="subDetails">B.A. Cultural Anthropology, August 2005 - May 2009</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

	</div>
</div>

<%= render 'footer' %>
