<p>
TECHNICAL SKILLS
Languages: Ruby, HTML, CSS, JavaScript, ES6
Databases: SQL, PostgreSQL
Software/Tools: Rails, RSpec, Capybara, Git, HTTP, AJAX, jQuery, Nokogiri, Sinatra, React.js, FactoryGirl,

PROJECTS
Coachr: coachr-breakable-toy.herokuapp.com
An app to help clients and Starting Strength coaches connect and allow trainees to receive technical criticism absent the peanut gallery
Built with a Ruby on Rails, Postgres database, React.js, AJAX, Bootstrap, and tie in to the Google Maps API; tested with RSpec and Capybara

Cinephile: cinephile-launch.herokuapp.com
A web application movie review site, created as a collaborative group project
Built with Ruby on Rails, a Postgres database, React.js, AJAX, and Foundation; tested with RSpec and Capybara

Dive Sites RoR: https://github.com/noahmilstein/dive-sites-ror
[In progress] schedule dives at any known dive spot globally and receive marine weather updates at set intervals via text and or email
Currently building with Ruby on Rails, Postgres DB, to be refactored with Javascript, jQuery, React.js

Less Wrong: github.com/noahmilstein/lesswrong
A Ruby gem to rapidly navigate Eliezer Yudkowsky’s Sequences from the command line
Built with Ruby and the Nokogiri gem

PROFESSIONAL EXPERIENCE
Launch Academy							   		         Boston, MA
Apprentice Ruby on Rails Developer		 			            August 2016 - October 2016
Full-stack web development bootcamp to gain critical, applicable skills as junior software developer
Focused on object-oriented programming, test-driven development and pair programming

CrossFit RBP								           	 	        Everett, MA
CrossFit & Starting Strength Coach          				        	             February 2016 - June 2016
First to implement the Starting Strength model anywhere in New England

Feral Fitness									        Saratoga Springs, NY
Owner/Head Coach							             July 2011 - November 2015
Built company from the ground up in rural area
Generated over $180k each year and shared all business responsibilities with a partner
Acquired SSC [startingstrength.com/get-started/coach], applied first principle analysis
Developed ability to coach ~15 person groups with diverse needs and abilities
EDUCATION
The International School, The University of Haifa					      	         Haifa, Israel
Learned Conversational Hebrew	      		 			      June 2009 - April 2010

The Evergreen State College 							 	      Olympia, WA
B.A. Cultural Anthropology			         			             	   August 2005 - May 2009
</p>
