<% if user_signed_in? && current_user.email == ENV['ADMIN'] %>
  <div class="buttons">
    <button class="button"><%= link_to 'New Post', new_post_path %></button>
  </div>
<% end %>

<div id="tag_cloud">
  <% @tags.each do |tag| %>
    <%= link_to tag.name + " (#{tag.taggings_count})", tag_path(tag.name) %>
  <% end %>
</div>

<form class="navbar-form navbar-left">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<div id="posts">
  <div class="page">
    <%= render @posts %>
  </div>
</div>

<br>

<%= paginate @posts %>
