// @import "*";
@import 'normalize';
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import "pygments";

.fixed-nav #header {
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#image {
  padding-top: 1em;
  font-family: 'Raleway';
}

#subImg {
  padding-top: 1em;
}

#header {
  font-family: 'Lobster';
}

#tag_cloud {
  display: none;
}

.toolbar
{
  display: table;
  margin: auto;
}

.toolbar > div
{
  display: table-cell;
  padding-right: 8px;
  vertical-align: top;
}

#message {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

#inner-message {
    margin: 0 auto;
}

#profile-photo {
  border-radius: 50%;
  border: solid;
  max-width: 150px;
  height: auto;
}

.login {
  padding-top: 30px;
}

i {
  padding-left: 20px;
  padding-right: 20px;
}

.lynda {
  list-style-type: none;
  margin-left: 10px;
}

#about {
  padding-left: 200px;
  padding-right: 200px;
}

.col {
  float:left;
}

article, aside, details, figcaption, figure, footer, hgroup, menu, nav, section {
  display: block;
}

html, body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 16px;
  color: #222;
}

.clear {
  clear: both;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
}

#cv {
  width: 90%;
  max-width: 800px;
  background: #f3f3f3;
  margin: 30px auto;
}

.mainDetails {
  padding: 25px 35px;
  border-bottom: 2px solid #cf8a05;
  background: #ededed;
}

#mainArea {
  padding: 0 40px;
}

section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
}

section:first-child {
    border-top: 0;
}

section:last-child {
    padding: 20px 0 10px;
}

.sectionTitle {
  float: left;
  width: 25%;
}

.sectionContent {
  float: right;
  width: 72.5%;
}

.sectionTitle h1 {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  // color: #337AB7;
}

.sectionContent h2 {
  font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-bottom: -2px;
}

.subDetails {
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: 3px;
}

.keySkills {
  list-style-type: none;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  margin-bottom: 20px;
  font-size: 1em;
  ul li {
    margin-bottom: 3px;
  }
}

@media all and (min-width: 602px) and (max-width: 800px) {
  #headshot {
    display: none;
  }
  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 601px){
  #cv {
    width: 95%;
    margin: 10px auto;
    min-width: 280px;
  }
  #headshot {
    display: none;
  }
  #name, #contactDetails {
    float: none;
    width: 100%;
    text-align: center;
  }
  .sectionTitle, .sectionContent {
    float: none;
    width: 100%;
  }
  .sectionTitle {
    margin-left: -2px;
    font-size: 1.25em;
  }
  .keySkills {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media all and (max-width: 480px){
  .mainDetails {
    padding: 15px 15px;
  }
  section {
    padding: 15px 0 0;
  }
  #mainArea {
    padding: 0 25px;
  }
  .keySkills {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
  #name h1 {
    line-height: .8em;
    margin-bottom: 4px;
  }
}

@media print {
  #cv {
    width: 100%;
  }
}

@-webkit-keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes reset {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes reset {
  0% {
    opacity: 0;
}
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
